<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSelenium" thread-count="1" verbose="1">

    <listeners>
        <listener class-name="ro.nila.base.TestBase"/>
    </listeners>

    <test name="Test1">
        <classes>
            <class name="ro.nila.tests.CheckLoginFunctionality" />
        </classes>
    </test>

    <!--<test name="Test2">-->
        <!--<classes>-->
            <!--<class name="ro.nila.tests.SecondTest" />-->
        <!--</classes>-->
    <!--</test> &lt;!&ndash; Test &ndash;&gt;-->

</suite> <!-- Suite -->